# Node.js
node_modules/
dist/
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
.env

# Models & Data
backend/appointments.json
# backend/models/*.pkl ALLOWED FOR DEPLOYMENT

# OS
.DS_Store
Thumbs.db
